.mod-midi-switch-box-1inx2out{{{cns}}} {
    background-image:url(/resources/switchbox_1inx2out_mono_MIDI_body.png{{{ns}}});
    background-repeat:no-repeat;
    height:274px;
    position:relative;
    width:200px;
}

.mod-midi-switch-box-1inx2out{{{cns}}} .mod-pedal-input {
    top:117px;
}

.mod-midi-switch-box-1inx2out{{{cns}}} .mod-pedal-output {
    top:48px;
}

.mod-midi-switch-box-1inx2out{{{cns}}} .mod-pedal-output .mod-output {
    margin-bottom: 88px;
}

.mod-midi-switch-box-1inx2out{{{cns}}} .mod-control-group {
    left:58px;
    position:absolute;
    top:68px;
}

.mod-midi-switch-box-1inx2out{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/switchbox_1inx2out_mono_MIDI_sprite.png{{{ns}}});
    background-repeat:no-repeat;
    margin:0 auto;
    height:161px;
    width:140px;
    cursor: pointer;
}
