/* = CONTAINER
================================================ */
.mod-midi-to-cv-poly{{{cns}}} {
    background-image: url(/resources/mod_midi_to_cv_poly_bg.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 211px 392px;
    height: 392px;
    position: absolute;
    width: 211px;
}

/* PORTS
================================================ */

.mod-midi-to-cv-poly{{{cns}}} .mod-pedal-input {
    top: 170px;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-pedal-output {
    top: 76px;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-pedal-output .mod-output-group {
    padding-bottom: 6px;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-pedal-output .mod-cv-output {
    height: 29px;
    margin-bottom: 0;
    background-position-y: center;
    background-size: 85%;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-pedal-output .mod-cv-output .mod-output-jack {
    background-position: 0 center;
    height: 29px;
    cursor: pointer;
    background-size: 85%;
}

/* = LIGHT ON/OFF
================================================ */
.mod-midi-to-cv-poly{{{cns}}} .mod-light {
    background-image: url(/resources/mod_midi_to_cv_poly_sprite_sheets/lights.png{{{ns}}}) !important;
    background-position: right center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 20px;
    top: 48px;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-light.off {
  background-position: right center;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-light.on {
  background-position: left center;
}

/* = SWITCH
================================================ */
.mod-midi-to-cv-poly{{{cns}}} .mod-switch {
    background-image: url(/resources/mod_midi_to_cv_poly_sprite_sheets/switch_key.png{{{ns}}});
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 28px 38.5px;
    top: 35px;
    right: 50px;
    cursor: pointer;
    height: 38.5px;
    width: 28px;
    margin: auto;
    position: absolute;
    z-index: 30;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-switch.on {
    background-position: center top;
    top: 45px;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-switch.off {
    background-position: center bottom;
}

/* = KNOBS
================================================ */
.mod-midi-to-cv-poly{{{cns}}} .mod-control-group {
    position: relative;
    margin: 85px 48px 48px;
    float: left;
    z-index: 30;
}

.mod-midi-to-cv-poly{{{cns}}} .mod-control-group .mod-knob {
    padding-top: 21px;
    padding-bottom: 16px;
}

/* THREE KNOBS */
.mod-midi-to-cv-poly{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image: url(/resources/mod_midi_to_cv_poly_sprite_sheets/medium_knob_3_70frames.png{{{ns}}});
    background-repeat: no-repeat;
    background-size: auto 53px;
    height: 53px;
    width: 53px;
    margin: 0 auto;
}
