*~
*.bak
.DS_Store
.kdev_include_paths
/kernel/
/plugins/package/cardinal-bin-real/
/plugins/package/cardinal-bin/binaries.tar.xz
/plugins/package/cardinal-bin/bundles/
/plugins/package/eg-amp-lv2/source/eg-amp.lv2/amp.so
/plugins/package/eg-amp-lv2/source/eg-amp.lv2/manifest.ttl
/plugins/package/eg-amp-lv2/eg-amp.lv2/eg-amp.lv2/amp.so
/plugins/package/eg-amp-lv2/eg-amp.lv2/eg-amp.lv2/manifest.ttl
