[submodule "mod-lv2-data"]
	path = lv2-data
	url = git://github.com/moddevices/mod-lv2-data
[submodule "lv2-data-creative-commons"]
	path = lv2-data-creative-commons
	url = git@github.com:moddevices/lv2-data-creative-commons.git
