/* = CONTAINER
================================================ */
.mod-cv-meter{{{cns}}} {
    background-image: url(/resources/mod_cv_meter_bg.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 227px 358px;
    height: 358px;
    position: absolute;
    width: 227px;
}

/* PORTS
================================================ */

.mod-cv-meter{{{cns}}} .mod-pedal-input,
.mod-cv-meter{{{cns}}} .mod-pedal-output {
    top: 132px;
}

/* = LIGHT ON/OFF
================================================ */
.mod-cv-meter{{{cns}}} .mod-light {
    background-image: url(/resources/spritesheets/lights.png{{{ns}}}) !important;
    background-position: right center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 20px;
    top: 23px;
}

.mod-cv-meter{{{cns}}} .mod-light.off {
  background-position: right center;
}

.mod-cv-meter{{{cns}}} .mod-light.on {
  background-position: left center;
}

/* = SWITCH
================================================ */
.mod-cv-meter{{{cns}}} .mod-switch {
    background-image: url(/resources/spritesheets/switch_key.png{{{ns}}});
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 28px 38.5px;
    top: 44px;
    right: 18px;
    cursor: pointer;
    height: 38.5px;
    width: 28px;
    margin: auto;
    position: absolute;
    z-index: 30;
}

.mod-cv-meter{{{cns}}} .mod-switch.on {
  background-position: center top;
  top: 54px;
}

.mod-cv-meter{{{cns}}} .mod-switch.off {
  background-position: center bottom;
}

/* RESET
================================================ */

.mod-cv-meter{{{cns}}} .mod-reset {
    background-image:url(/resources/spritesheets/button_horizontal.png{{{ns}}});
    background-position:top center;
    background-repeat:no-repeat;
    bottom: 58px;
    cursor:pointer;
    height: 33px;
    width: 65px;
    left: 82px;
    position:absolute;
    z-index: 101;
}

.mod-cv-meter{{{cns}}} .mod-reset.on {
    background-position:top center;
}

.mod-cv-meter{{{cns}}} .mod-reset.off {
    background-position:bottom center;
}

.mod-cv-meter{{{cns}}} .mod-cv-meter-display {
  background-color:#a4cbce;
  position:relative;
  text-align:center;
  z-index:0;
  color:black;
  box-shadow: 0px 2px 2px 0px #688182 inset, 1px -1px 1px 1px #98BEC3 inset;
  margin-right: 40px;
  margin-left: 40px;
}

.mod-cv-meter{{{cns}}} .mod-display-group {
    margin-top: 85px;
}

.mod-cv-meter{{{cns}}} .mod-cv-meter-display div {
    height: 28px;
}

.mod-cv-meter{{{cns}}} .mod-cv-meter-display div span {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

.mod-cv-meter{{{cns}}} .mod-display-max,
.mod-cv-meter{{{cns}}} .mod-display-current {
    margin-top: 36px;
}
