/* SKINS */
.gx-supersonic{{{cns}}} {
  background-image: url(/resources/gx_supersonic_bg.png{{{ns}}});
  background-position: center center;
  background-repeat: no-repeat;
  height: 359px;
  position: relative;
  width: 564px;
}

.gx-supersonic{{{cns}}} .mod-pedal-input,
.gx-supersonic{{{cns}}} .mod-pedal-output {
    top: 125px;
}

/* Switch / Light */

.gx-supersonic{{{cns}}} .mod-switch {
  position: absolute;
  background-image: url(/resources/spritesheets/switch_toggle.png{{{ns}}});
  background-repeat: no-repeat;
  cursor: pointer;
  height: 40px;
  width: 33px;
  top: 230px;
  left: 79px;
  z-index: 30;
}

.gx-supersonic{{{cns}}} .mod-switch.off {
  background-position: right center;
}

.gx-supersonic{{{cns}}} .mod-switch.on {
  background-position: left center;
  top: 235px;
}

.gx-supersonic{{{cns}}} .mod-light {
  position: absolute;
  background-image: url(/resources/spritesheets/led.png{{{ns}}});
  height: 32px;
  width: 30px;
  left: 45px;
  top: 236px;
}

.gx-supersonic{{{cns}}} .mod-light.off {
  background-position: left center;
}

.gx-supersonic{{{cns}}} .mod-light.on {
  background-position: right center;
}
/* CONTROLS */
.gx-supersonic{{{cns}}} .mod-control-group {
  position: relative;
  z-index: 30;
}

.gx-supersonic{{{cns}}} .mod-control-group .mod-knob {
  position: absolute;
  top: 207px;
}

.gx-supersonic{{{cns}}} .mod-control-group .mod-knob.gx-supersonic-GAIN {
  left: 158px;
}

.gx-supersonic{{{cns}}} .mod-control-group .mod-knob.gx-supersonic-BASS {
  left: 249px;
}

.gx-supersonic{{{cns}}} .mod-control-group .mod-knob.gx-supersonic-TREBLE {
  left: 340px;
}

.gx-supersonic{{{cns}}} .mod-control-group .mod-knob.gx-supersonic-VOLUME {
  left: 431px;
}

.gx-supersonic{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
  background-image: url(/resources/spritesheets/gx_supersonic_knobs_70.png{{{ns}}});
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
}
