.mod-midi-switch-box-3inx1out{{{cns}}} {
    background-image:url(/resources/3inx1out_mono_MIDI_bg.png{{{ns}}});
    background-repeat:no-repeat;
    height:274px;
    position:relative;
    width:200px;
}

.mod-midi-switch-box-3inx1out{{{cns}}} .mod-pedal-input {
    top:48px;
}

.mod-midi-switch-box-3inx1out{{{cns}}} .mod-pedal-output {
    top:118px;
}

.mod-midi-switch-box-3inx1out{{{cns}}} .mod-pedal-input .mod-input {
    margin-bottom: 16px;
}

.mod-midi-switch-box-3inx1out{{{cns}}} .mod-control-group {
    left:8px;
    position:absolute;
    top:71px;
}

.mod-midi-switch-box-3inx1out{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/3inx1out_mono_MIDI_sprites.png{{{ns}}});
    background-repeat:no-repeat;
    margin:0 auto;
    height:154px;
    width:138px;
    cursor: pointer;
}
