.mod-midi-switch-box-1inx3out{{{cns}}} {
    background-image:url(/resources/1inx3out_mono_MIDI_bg.png{{{ns}}});
    background-repeat:no-repeat;
    height:274px;
    position:relative;
    width:200px;
}

.mod-midi-switch-box-1inx3out{{{cns}}} .mod-pedal-input {
    top:117px;
}

.mod-midi-switch-box-1inx3out{{{cns}}} .mod-pedal-output {
    top:48px;
}

.mod-midi-switch-box-1inx3out{{{cns}}} .mod-pedal-output .mod-output {
    margin-bottom: 16px;
}

.mod-midi-switch-box-1inx3out{{{cns}}} .mod-control-group {
    left:58px;
    position:absolute;
    top:68px;
}

.mod-midi-switch-box-1inx3out{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/1inx3out_mono_MIDI_sprites.png{{{ns}}});
    background-repeat:no-repeat;
    margin:0 auto;
    height:159px;
    width:133px;
    cursor: pointer;
}
