/* = CONTAINER
================================================ */
.mod-cv-switchbox-1-2{{{cns}}} {
    background-image: url(/resources/switchbox_cv_1to2_bg.png{{{ns}}});
    background-position: center center;
    background-repeat: no-repeat;
    height: 274px;
    position: absolute;
    width: 200px;
}

/* PORTS
================================================ */

.mod-cv-switchbox-1-2{{{cns}}} .mod-pedal-input {
    top: 108px;
}

.mod-cv-switchbox-1-2{{{cns}}} .mod-pedal-output {
    top: 38px;
}

.mod-cv-switchbox-1-2{{{cns}}} .mod-pedal-output .mod-output:nth-child(2) {
    top: 73px !important;
}

/* = KNOBS
================================================ */
.mod-cv-switchbox-1-2{{{cns}}} .mod-control-group {
    margin: 63px 0 0 46px;
    position: relative;
    z-index: 30;
}

/* ONE KNOB */
.mod-cv-switchbox-1-2{{{cns}}} .mod-control-group .mod-knob .mod-knob-image {
    background-image: url(/resources/switchbox_cv_1to2_sprite.png{{{ns}}});
    background-repeat: no-repeat;
    height: 149px;
    width: 137px;
    margin: 0 auto;
}
